* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2575fc, #6a11cb); /* gradasi ungu ke biru */
}

.container {
  background: linear-gradient(135deg, #6a11cb,   #2575fc, #6a11cb);
  padding: 40px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  color: #333;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.container img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.container h2 {
  margin-bottom: 30px;
  color: #6a11cb;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  color: #333;
  outline: none;
}

.input-group label {
  position: absolute;
  top: 10px;
  left: 15px;
  pointer-events: none;
  color: #999;
  font-size: 14px;
}

.checkbox {
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  border: none;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

.forgot {
  margin-top: 15px;
  font-size: 12px;
  color: #666;
}
